.atividades__seguidores,
.atividades__nome,
.atividades__conteudo,
.container__comentarios,
.atividades__texto {
    padding: 8px;
}

.atividades__conteudo {
    display: flex;
}

.atividade__imagem {
    width: 64px;
    height: 64px;
}

.comentarios__border {
    border-bottom: 1px solid var(--cor-cinza);
}

.atividades__adicional {
    text-align: center;
}

.atividades__texto {
    font-size: 14px;
    font-weight: 300;
}