.experiencias__titulo,
.lista__experiencias {
    display: flex;
    margin: 8px;
    gap: 8px;
    align-items: center;
  }

  ul.experiencias__titulo li a img{
    width: 48px;
    height: 48px;
  }

  ul.lista__experiencias li {
    display: flex;
    flex-direction: column;
    margin-top: .6rem;
    gap: 0.3rem;
  }
  
  ul.lista__experiencias li a img{
    margin: 0 20px;
  }

.periodo,
.duracao,
.localizacao {
    font-size: 14px;
    font-weight: 300;
}

.duracao,
.localizacao {
    color: var(--cor-cinza)
}

