.experiencias__titulo,
.lista__experiencias {
    display: flex;
    margin: 8px;
    gap: 8px;
    align-items: center;
  }

.experiencias__logo {
    width: 48px;
    height: 48px;
}

ul.experiencias__titulo li {
    display: flex;
    flex-direction: column;
    margin-left: .6rem;
    gap: .3rem;
    
}

  ul.lista__experiencias li {
    display: flex;
    flex-direction: column;
    margin-top: .6rem;
    gap: 0.3rem;
  }
  
  ul.lista__experiencias li a img{
    padding: 0 20px;
  }

.periodo,
.duracao,
.localizacao {
    font-size: 14px;
    font-weight: 300;
}

.duracao,
.localizacao {
    color: var(--cor-cinza)
}

.idiomas__dados {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  border-bottom: 1px solid var(--cor-cinza);
}



