.sugestoes {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    gap: 8px;
}

.banner__sugestao {
    background-color: var(--section-bg);
    border-radius: 14px;
    width: 320px;  
    padding: 16px;
}

.sugestao__header {
    font-family: var(--font-secundaria);
}
